* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

th,
td {
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  overflow-wrap: break-word;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: left;
}

thead th {
  background-color: rgba(128, 128, 128, 0.194);
}
